body {
  background-color: #52b788;
  color: #d8f3dc;
  padding: 0;
  margin: 0;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #081c15;
  height: 10vh;
  border-bottom: 2px double #d8f3dc;
}
header h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #1b4332;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}
main section {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  main section {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  main section + section {
    border-left: 2px dashed #1b4332;
  }
}
main form {
  width: 90%;
  max-width: 600px;
  background-color: #74c69d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  border-radius: 7px;
}
main form input,
main form select {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 35px;
}
main form input::placeholder,
main form select::placeholder {
  padding-left: 5px;
  color: #1b4332;
}
main form button {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #081c15;
  color: #d8f3dc;
  font-weight: 700;
  cursor: pointer;
}
main form button:hover {
  background-color: #1b4332;
}
main table {
  width: 90%;
  max-width: 600px;
  border-collapse: collapse;
}
main table thead tr,
main table thead th {
  background-color: #081c15;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
main table tbody {
  color: #1b4332;
}
main table tbody th,
main table tbody td {
  text-align: center;
  padding: 8px;
}
main table tbody tr:nth-child(even) {
  background-color: #74c69d;
}
main table tbody tr button {
  width: 25px;
  height: 25px;
  color: #081c15;
  background-color: #d8f3dc;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
main table tbody tr button:hover {
  transition: 0.3s;
  color: #d8f3dc;
  background-color: #081c15;
}

.not-modal {
  display: none;
}

.modal-delete {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.modal-delete > section {
  width: 300px;
  border-radius: 7px;
  background-color: #74c69d;
  border-radius: 7px;
}
.modal-delete > section section,
.modal-delete > section div {
  width: 100%;
}
.modal-delete > section .div-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b4332;
}
.modal-delete > section .div-header h2 {
  color: #d8f3dc;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 15px;
}
.modal-delete > section .div-header button {
  width: 25px;
  height: 25px;
  color: #081c15;
  background-color: #d8f3dc;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-right: 15px;
}
.modal-delete > section .div-header button:hover {
  transition: 0.3s;
  color: #d8f3dc;
  background-color: #081c15;
}
.modal-delete > section .div-buttons {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-delete > section .div-buttons .confirm {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #081c15;
  color: #d8f3dc;
  font-weight: 700;
  cursor: pointer;
}
.modal-delete > section .div-buttons .confirm:hover {
  background-color: #1b4332;
}

/*# sourceMappingURL=style.css.map */
