$primary-color: #52b788;
$secundary-color: #081c15;
$terciary-color: #74c69d;
$text-color: #d8f3dc;
$text-darkcolor: #1b4332;

body {
  background-color: $primary-color;
  color: $text-color;
  padding: 0;
  margin: 0;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secundary-color;
  height: 10vh;
  border-bottom: 2px double $text-color;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: $text-darkcolor;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    @media (min-width: 768px) {
      width: 48%;
    }
  }

  section + section {
    @media (min-width: 1024px) {
      border-left: 2px dashed $text-darkcolor;
    }
  }

  form {
    width: 90%;
    max-width: 600px;
    background-color: $terciary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-radius: 7px;

    input,
    select {
      border: none;
      border-radius: 5px;
      width: 250px;
      height: 35px;

      &::placeholder {
        padding-left: 5px;
        color: $text-darkcolor;
      }
    }

    button {
      border: none;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      background-color: $secundary-color;
      color: $text-color;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: $text-darkcolor;
      }
    }
  }

  table {
    width: 90%;
    max-width: 600px;
    border-collapse: collapse;
    thead {
      tr,
      th {
        background-color: $secundary-color;
        padding: 10px;
        text-align: center;
        font-weight: 600;
      }
    }

    tbody {
      color: $text-darkcolor;

      th,
      td {
        text-align: center;
        padding: 8px;
      }
      tr {
        &:nth-child(even) {
          background-color: $terciary-color;
        }

        button {
          width: 25px;
          height: 25px;
          color: $secundary-color;
          background-color: $text-color;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          font-size: 1.1rem;
          cursor: pointer;

          &:hover {
            transition: 0.3s;
            color: $text-color;
            background-color: $secundary-color;
          }
        }
      }
    }
  }
}

.not-modal {
  display: none;
}

.modal-delete {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  > section {
    width: 300px;
    border-radius: 7px;
    background-color: $terciary-color;
    border-radius: 7px;

    section,
    div {
      width: 100%;
    }

    .div-header {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1b4332;

      h2 {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 15px;
      }

      button {
        width: 25px;
        height: 25px;
        color: $secundary-color;
        background-color: $text-color;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
        margin-right: 15px;

        &:hover {
          transition: 0.3s;
          color: $text-color;
          background-color: $secundary-color;
        }
      }
    }

    section {
      height: 60px;
      color: $text-darkcolor;
      padding: 10px;

      h3 {
        margin: 0 10px;
      }
    }

    .div-buttons {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > button {
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-right: 15px;
        margin-left: 15px;
        background-color: $text-color;
        color: $secundary-color;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: $primary-color;
        }
      }

      .confirm {
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-right: 15px;
        margin-left: 15px;
        background-color: $secundary-color;
        color: $text-color;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: $text-darkcolor;
        }
      }
    }
  }
}
